.nodeSelectionFromItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;

  .main {
    flex: 1;
  }
  .operation {
    width: 20px;
  }
}

.ant-form-vertical {
  .nodeSelectionFromItem {
    align-items: center;
  }
}
