.gi-side-select-tabs {
  position: relative;
  background-color: #fff;
  border-right: 1px solid #edeeef;

  .gi-side-select-tabs-content {
    position: relative;
    height: 100%;
    overflow: hidden;
    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 16px;
        background-color: #fff;
        border-top: 1px solid #e3e4e6;
        border-bottom: 1px solid #e3e4e6;
        .ant-select {
          .ant-select-selection-item,
          .ant-select-arrow {
            color: rgba(0, 10, 26, 0.89);
            font-weight: bold;
          }
        }
        .anticon-question-circle {
          color: rgba(0, 10, 26, 0.47);
          font-size: 14px;
          cursor: pointer;
        }
      }
      &-detail {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}
