.giLayout {
  height: 100%;
}
.headerContainer {
  display: flex;
  height: 64px;
  padding: 0 40px;
  // background: #ebebeb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .left {
    flex: 1;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    opacity: 0.85;
    a {
      color: white;
      font-size: 14px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    opacity: 0.85;
    a {
      color: #000000;
      font-size: 14px;
    }
  }
  .right span:hover {
    color: #597ef7;
  }
}
// 滚动条宽度设置为0，就不会影响首页背景图宽度展示，而且也可以上下滑动
.contentContaniner::-webkit-scrollbar {
  width: 0;
}
.contentContaniner {
  margin: 0 auto;
  height: 100%;
  overflow: auto;

  .videoContainer {
    position: relative;
    height: 600px;
    // background-image: url('./image/background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
    .fillTop {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 130px;
      overflow: hidden;
      background-image: url('https://gw.alipayobjects.com/mdn/rms_0d75e8/afts/img/A*AyNiTb8ie50AAAAAAAAAAAAAARQnAQ');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 1440px;
      margin: 0 auto;
    }
    .text {
      position: absolute;
      top: 157px;
      left: 130px;
      z-index: 2;
      color: #000000;
      text-align: left;

      h1 {
        color: #232323;
        font-size: 40px;
        font-family: PingFangSC-Semibold;
        letter-spacing: 0;
      }
      p {
        color: #8a8a8a;
        font-size: 14px;
        font-family: PingFangSC-Medium;
        letter-spacing: 0;
      }
      button {
        width: 107px;
        height: 40px;
        border: 2px solid #597ef7;
        border-radius: 20px;
      }
      .leftButton {
        margin-right: 10px;
        color: #3056e3;
        background: #ffffff;
        border: 1px solid #3056e3;
        border-radius: 4px;
        box-shadow: 1px -1px 8px 0 rgba(152, 152, 152, 0.31), -1px 1px 8px 0 rgba(202, 202, 202, 0.21);
      }
      .rightButton {
        color: #ffffff;
        background: #3056e3;
        border-radius: 4px;
        box-shadow: 2px 2px 8px 0 #95acff;
      }
    }
    .carousel {
      position: absolute;
      top: 40px;
      right: 50px;
      width: 1304px;
      height: 600px;
      background-image: url('https://gw.alipayobjects.com/mdn/rms_0d75e8/afts/img/A*YL6wQpTPIO0AAAAAAAAAAAAAARQnAQ');
      background-repeat: round;
      background-size: cover;
      :global {
        .ant-carousel {
          position: absolute;
          top: 120px;
          right: 229px;
          width: 498px;
          height: 308px;
          img {
            width: 498px;
            height: 308px;
          }
        }
      }
    }
  }

  .h2 {
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 56px;
    font-family: PingFangSC-Semibold;
    line-height: 64px;
    text-align: center;
  }

  .p2 {
    margin-bottom: 48px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 28px;
    font-family: PingFangSC-Regular;
    line-height: 28px;
    text-align: center;
    opacity: 0.64;
  }

  .productContainer {
    padding: 64px 0 90px;
    background-image: linear-gradient(143deg, #3056e3 12%, #3a6eed 71%, rgba(78, 133, 244, 0.99) 100%);
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    h2 {
      color: #ffffff;
      font-size: 30px;
      letter-spacing: 0;
    }
    .cardContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1296px;
      margin: 0 auto;
      .featrueCard {
        width: 275.9px;
        height: 270px;
        margin-bottom: 16px;
        color: #000000;
        text-align: center;
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        div {
          display: flex;
          flex-wrap: nowrap;
          align-content: center;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 170px;
          background: rgb(230, 240, 254);
          border-radius: 8px 8px 0 0;
          img {
            width: 251px;
            height: 144px;
          }
        }
        h3 {
          color: #303030;
          font-size: 24px;
          font-family: PingFangSC-Semibold;
          letter-spacing: 0;
          text-align: center;
        }
        p {
          color: rgba(0, 0, 0, 0.45);
          font-size: 14px;
          font-family: PingFangSC-Regular;
          letter-spacing: 0;
          text-align: center;
        }
      }
    }
  }

  .resolveContainer {
    position: relative;
    padding: 80px 0 80px;
    .fillTop {
      position: absolute;
      top: 0;
      width: 100%;
      height: 170px;
      overflow: hidden;
      background-image: url('https://gw.alipayobjects.com/mdn/rms_0d75e8/afts/img/A*f3YPQL7qdKcAAAAAAAAAAAAAARQnAQ');
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-size: cover;
    }
    .cardContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1296px;
      margin: 0 auto;
      .SolutionCard {
        width: 416px;
        height: 510px;
        margin-bottom: 16px;
        color: #000000;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        img {
          width: 416px;
          height: 260px;
          background: #131821;
          border-radius: 10px 10px 0 0;
        }
        h3 {
          margin-bottom: 9px;
          font-weight: 600;
          font-size: 28px;
          font-family: PingFangSC-Semibold;
          line-height: 32px;
        }
        p {
          width: 352px;
          height: 72px;
          margin-bottom: 40px;
          font-size: 16px;
          font-family: PingFangSC-Regular;
          line-height: 24px;
          opacity: 0.65;
        }
        .useBtn {
          width: 107px;
          height: 40px;
          color: #597ef7;
          border: 2px solid #597ef7;
          border-radius: 20px;
        }
      }
    }
    .fillBottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 130px;
      // background-image: url('./image//Combined\ Shape.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .clientContainer {
    padding: 57px 0 20px;
    background: #ebebeb;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    .clientCard {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1280px;
      margin: 0 auto;
      margin-bottom: 80px;
      color: #000000;
      img {
        width: 848px;
        height: 530px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      }
      h3 {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 28px;
        font-family: PingFangSC-Semibold;
        line-height: 32px;
      }
      p {
        width: 352px;
        font-size: 16px;
        font-family: PingFangSC-Regular;
        line-height: 24px;
        opacity: 0.65;
      }
      .text {
        margin: auto;
      }
    }
  }
}

.footerContainer {
  position: relative;
  padding: 100px 0 95px;
  color: #000000;
  font-size: 16px;
  font-family: PingFangSC-Medium;
  line-height: 24px;
  letter-spacing: 0;
  background: #fff;
  opacity: 0.65;
  .fillTop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 170px;
    overflow: hidden;
    // background-image: url('./image//Combined\ Shape.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
  }
}