.gi-site-home {
  .greeting {
    display: block;
    padding: 12px;
  }
  .container {
    display: flex;
  }
  .flex-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 12px;
  }
  .flex-right {
    display: flex;
    flex-direction: column;
    flex-basis: 270px;
  }
}
