.gi-layout-container {
  height: calc(100% - 64px);
  padding: 12px 48px 48px 48px;
  overflow-y: scroll;
  background: var(--background-color-2);
  .ant-card-bordered .ant-card-cover {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #f0f0f0;
  }
}

:root {
  --background-color: #fff;
  --background-color-2: #fafafa;
  --background-color-3: #eaeefc;
  --background-color-card: #fff;

  --text-color: rgba(0, 0, 0, 0.85); // 主文本色
  --text-color-2: rgba(0, 0, 0, 0.65); // 主文本色
  --primary-color: #3056e3; // 全局主色
  --link-color: #3056e3; // 链接色
  --success-color: #52c41a; // 成功色
  --warning-color: #faad14; // 警告色
  --error-color: #f5222d; // 错误色
  --font-size-base: 14px; // 主字号
  --heading-color: rgba(0, 0, 0, 0.85); // 标题色
  --text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
  --disabled-color: rgba(0, 0, 0, 0.25); // 失效色
  --border-radius-base: 2px; // 组件/浮层圆角
  --border-color-base: #d9d9d9; // 边框色
  --box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影
}

html[data-theme='dark'] {
  --background-color: #141414;
  --background-color-2: rgb(30, 30, 30);
  --background-color-3: rgb(40, 40, 40);
  --background-color-card: rgb(30, 30, 30);
  --text-color: #e2e2e2; // 主文本色
  --primary-color: #3056e3; // 全局主色
  --link-color: #3056e3; // 链接色
  --success-color: #52c41a; // 成功色
  --warning-color: #faad14; // 警告色
  --error-color: #f5222d; // 错误色
  --font-size-base: 14px; // 主字号
  --heading-color: rgba(0, 0, 0, 0.85); // 标题色
  --text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
  --disabled-color: rgba(0, 0, 0, 0.25); // 失效色
  --border-radius-base: 2px; // 组件/浮层圆角
  --border-color-base: #d9d9d9; // 边框色
  --box-shadow-base: 0 3px 6px -4px rgba(255, 255, 255, 0.8), 0 6px 16px 0 rgba(255, 255, 255, 0.9),
    0 9px 28px 8px rgba(255, 255, 255, 0.9); // 浮层阴影
}
