@panel-width: 600px;
.gi-xlab {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
  .xlab-header {
    top: 0px;
    right: 0px;
    left: 0px;
    flex: 80px;
    height: 80px;
    padding: 8px;
    line-height: 80px;
    background: green;
  }
  .xlab-canvas {
    position: absolute;
    top: 100px;
    right: @panel-width;
    bottom: 0px;
    left: 0px;
  }
  .xlab-properties {
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    width: @panel-width;
    background: blueviolet;
  }
}
