.workspace {
  .steps-content {
    margin: 30px 55px;

    .ant-form:not(.ant-form-inline):not(.ant-form-vertical) {
      max-width: 700px;
    }
  }

  .ant-upload.ant-upload-select {
    margin-left: 15px;
  }

  .ant-upload-list {
    display: inline-flex;
    margin-left: 30px;
    vertical-align: middle;
  }

  .ant-card-bordered {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
  }

  .ant-row .ant-card-body:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .new-title {
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
    opacity: 0.55;
  }

  .card-content {
    div {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 0px;
      color: var(--primary-text-color);
      font-size: 16px;
    }

    span {
      color: var(--primary-text-color);
      font-size: 12px;
      opacity: 0.45;
    }

    .card-title span {
      opacity: 1;
    }
    .edit,
    .star,
    .copy {
      margin-right: 5px;
      color: #1890ff;
    }

    .icon-buuton:hover {
      color: #1890ff;
      transition: color 0.3s;
    }
  }

  .create-panel-wrap {
    .steps-content {
      margin: 30px 0;
    }

    .upload-panel {
      .upload-panel-section {
        margin-top: 10px;
        padding-bottom: 10px;
        border: 1px solid rgb(146 213 255);
      }
    }
    .dataCheck-panel {
      .ant-tabs {
        width: 100%;
        .ant-tabs-nav {
          .ant-tabs-nav-wrap {
            .ant-tabs-nav-list {
              .ant-tabs-tab {
                justify-content: center;
                min-width: 80px;
              }
            }
          }
        }
      }
    }
  }

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    margin: 10px 50px;
  }

  .ant-tabs-content-holder {
    margin: 0px 50px;
  }

  .ant-tabs-tab-active {
    border-bottom-color: none;
  }

  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
  .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
    background: transparent;
  }
}
