.gi-history-footer {
  padding: 0 8px;
  transition: all 0.3s ease;

  .gi-history-footer-item-container {
    height: 100%;
    overflow-y: scroll;
  }

  .gi-analysis-history-tag {
    width: 10px;
    height: 10px;
    margin-top: 16px;
    margin-right: 4px;
    border-radius: 50%;
  }

  .gi-analysis-history-statement {
    margin-left: 8px;
  }
  .gi-analysis-history-time {
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.35);
    margin-right: 4px;
  }
  .gi-analysis-history-screenshot-icon {
    margin-top: 14px;
    color: var(--primary-color);
  }
}
