.assets-list-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;

  .ant-tree {
    width: 220px;
    margin-right: 24px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-iframe {
    width: 100%;
    overflow: auto;
    position: relative;
  }
}
