.container {
  height: 258px;
  background-image: url(https://gw.alipayobjects.com/mdn/rms_0d75e8/afts/img/A*W0V0RqFMwRoAAAAAAAAAAAAAARQnAQ);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  .title {
    position: absolute;
    top: 89px;
    left: 120px;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
  }
  .buttongroup {
    position: relative;
    top: 108px;
    left: 120px;
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
}

.lists {
  .ant-radio-button-wrapper {
    border-left-width: 1px;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before,
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: transparent;
  }

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    margin: 10px 50px;
  }

  .ant-tabs-content-holder {
    margin: 0px 50px;
  }
  .ant-tabs-tab-active {
    border-bottom-color: none;
  }

  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
  .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
    background: transparent;
  }

  .ant-tabs-top > .ant-tabs-nav::before,
  .ant-tabs-bottom > .ant-tabs-nav::before,
  .ant-tabs-top > div > .ant-tabs-nav::before,
  .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: none;
  }
  .fliter {
    .ant-radio-button-wrapper:focus-within {
      box-shadow: none;
    }
  }
  .ant-card-bordered {
    border-radius: 10px;
  }
}

.control {
  height: 171px;
  padding-top: 85px;
  padding-left: 120px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);
}

.background {
  position: relative;
  top: -40px;
  float: right;
  width: calc(100% - 100px);
  height: 90px;
  padding-top: 20px;
  padding-left: 54px;
  color: #ffffff;
  font-size: 30px;
  font-family: PingFangSC-Medium;
  background-color: rgb(74, 124, 249);

  border-radius: 8px;
}

.card {
  display: flex;
  justify-content: space-between;
  .icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #1890ff;
    background: rgba(23, 125, 220, 0.08);
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5%);
  }
  .desc {
    width: 148px;
    div {
      color: #000000;
      opacity: 0.45;
    }
  }
  .fire {
    width: 50px;
    height: 40px;
    color: #000000;
    opacity: 0.45;
  }
}

.operation-group {
  position: absolute;
  top: 10px;
}
.componet-market {
  display: flex;
  height: calc(100vh - 64px);
  .gi-config-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    .config {
      max-height: 300px;
    }
    .view {
      flex: 1;
    }
  }
}
