@height: 160px;
@footerHeight: 58px;
@contentHeight: @height - @footerHeight;
.project-card {
  justify-items: center;
  height: @height;
  border-radius: 8px;
  padding: 8px 16px;
  // &:hover {
  //   box-shadow: 0 8px 17px 2px #3056e324, 0 3px 14px 2px #3057e31f, 0 5px 5px -3px #3056e333;
  //   transform: all 0.3;
  // }
  // color: #000000cc;
  background-color: var(--background-color-card);
  box-shadow: 0 2px 5px 0 rgba(0, 10, 26, 0.1), 0 3px 5px -2px rgba(0, 10, 26, 0.1), 0 1px 5px 0 rgba(0, 10, 26, 0.1);
  cursor: pointer;
  
  .content-wrapper {
    display: flex;
    .cover {
      display: flex;
      flex-basis: @contentHeight;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: @contentHeight;
      height: @contentHeight;
      overflow: hidden;
    }
    .content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
      height: @contentHeight;
      margin-left: 8px;
  
  
      .title {
        font-weight: 600;
        font-size: 16px;
        color: rgba(0, 10, 26, 0.9);
      }
      .desc {
        overflow: hidden;
        color: rgba(0, 10, 26, 0.47);
        font-size: 12px;
        font-size: 12px;
        text-overflow: ellipsis;
      }
      .time {
        font-size: 12px;
        color: rgba(0, 10, 26, 0.47);
      }
    }
  }

  .divider {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .footer {
    padding: 8px 0;
    justify-content: space-between;
    display: flex;
    .action {
      color: rgba(0, 10, 26, 0.68);
      height: 32px;
      line-height: 32px;
      margin-top: -4px;
      margin-bottom: 0;
      &:hover {
        color: #1890FF;
      }
    }
    .divider-vertical {
      height: 26px;
    }
  }

  .extra-top-right {
    position: absolute;
    right: 12px;
    top: 14px;
  }
}

.ant-radio-button-wrapper.gi-workspace-temp {
  width: 140px !important;
  height: 140px !important;
  margin: 8px !important;
  padding: 8px !important;
  text-align: center;
}
