ul.gi-sidebar {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;

  li.sidebar-logo {
    padding: 15px 10px;
    img {
      width: 100%;
    }
  }
}
.sidebar-item {
  width: 100%;
  height: 54px;
  padding: 6px 0px;
  cursor: pointer;
  &.active {
    // border-left: 2px solid lightcoral;
    color: #177ddc;
    background: #177ddc1a;
  }
  &.assets-center {
    position: absolute;
    bottom: 16px;
    left: 0px;
    z-index: 10;
    width: 50px;
  }
  .icon {
    display: block;
    width: unset;
    height: unset;
    margin-top: 5px;
    margin-right: unset;
    margin-bottom: 0px;
    font-size: 16px;
    text-align: center;
  }
  .name {
    display: block;
    margin-right: unset;
    font-weight: bold;
    font-size: 12px;
    line-height: unset;
    white-space: nowrap;
  }
}
