ul.gi-sidebar {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  li.sidebar-logo {
    padding: 15px 10px;
    img {
      width: 100%;
    }
  }
}
.sidebar-item {
  width: 100%;
  height: 54px;
  cursor: pointer;
  padding: 6px 0px;
  &.active {
    // border-left: 2px solid lightcoral;
    color: #177ddc;
    background: #177ddc1a;
  }
  .icon {
    margin-top: 5px;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 0px;
  }
  .name {
    font-size: 12px;
    display: block;
  }
}
