.navbar {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  z-index: 999;
  .navbar-logo {
    // padding: 5px 10px;
    cursor: pointer;
    img {
      height: 28px;
      margin: 0px 10px;
    }
    span {
      height: 40px;
      line-height: 40px;
      font-weight: 600;
    }
  }
  ul.navbar-action {
    cursor: pointer;
    flex: 1;
    justify-content: flex-end;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    & > li {
      padding: 0px 10px;
      display: inline-block;
      text-align: top;
    }
  }
  .navbar-db {
    padding: 0px 10px;
    &:hover {
      background: #177ddc1a;
      cursor: pointer;
    }
  }
}

.ant-drawer.ant-drawer-top.ant-drawer-open {
  top: 44px;
}
