.gi-navbar-container {
  background: var(--background-color) !important;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 40px;
  // box-shadow: var(--box-shadow-bottom) !important;
  a {
    // color: var(--text-color);
    // color: #fff;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
  }
  a:hover {
    /* border: 1px solid red; */
    // padding: 8px 12px;
    // border-radius: 4px;
    // background: rgba(222, 222, 222, 0.5);
    color: #fff;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 1);
  }
  .active {
    // border-bottom: 2px solid var(--primary-color);
    a {
      // color: var(--primary-color);

      padding: 8px 10px;
      border-radius: 4px;
      background: rgba(222, 222, 222, 0.3);
      color: rgba(255, 255, 255, 1);
      transition: all 0.3s ease;
    }
  }

  .left {
    display: flex;
    align-items: center;
  }
  .right {
    display: flex;
    align-items: center;
    button {
      margin-right: 8px;
      border-radius: 4px;
    }
  }
  .right span:hover {
    color: #fff;
  }
}

.export-panel {
  height: 100%;
  .card-meta {
    .title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

// // 主题切换隐藏
// .theme-switch {
//   display: none;
// }
