.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 40px;
  color: white;
  background: var(--header-bg-color) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .left {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    opacity: 0.85;
    a {
      color: var(--primary-title-text-color);
      font-size: 14px;
    }
    .active {
      border-bottom: solid var(--primary-color);
      a {
        color: var(--primary-color);
        text-shadow: 0 0 0.25px currentColor;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    opacity: 0.85;
    a {
      color: #000000;
      font-size: 14px;
    }
    button {
      margin-right: 8px;
      color: var(--primary-title-text-color);
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
    }
  }
  .right span:hover {
    color: #597ef7;
  }
}

.navbar-title:focus-visible {
  outline: none;
}
.export-panel {
  height: 100%;
  .export-panel-editor {
    height: calc(100% - 52px);
    overflow: scroll;

    .react-monaco-editor-container {
      .monaco-editor {
        height: 100% !important;
      }
    }
  }
  .export-panel-footer {
    padding-top: 20px;
    .ant-btn {
      margin-right: 10px;
    }
  }
}
