.editor-toolbar {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid var(--border-color);
}
.gi-gremlin-query {
  z-index: 3;
  border-radius: 6px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-pannel);
  transition: height 0.3s ease;
}
