.ant-modal-body {
  padding: 0px 24px 24px 24px;
}

.upload-panel-section {
  width: 798px;
  height: 234px;
  margin: 10px 0px;
}

.ant-upload-list {
  display: inline-flex;
  margin-left: 30px;
  vertical-align: middle;
}

.dataCheck-panel {
  .fliter-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;

    .title {
      width: 64px;
      height: 22px;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      opacity: 0.85;
    }
  }
  .ant-card-body {
    margin: 20px 0px;
    padding: 0px;
  }
}
