ul.gi-radio-note {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;

  & > li {
    list-style: none;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin-right: 12px;

    &.active {
      background: rgba(222, 222, 222, 0.3);
      color: var(--primary-color);
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.3 ease;
      &:hover {
        background: rgba(222, 222, 222, 0.3);
      }
    }
    &:hover {
      background: rgba(222, 222, 222, 0.3);
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.3 ease;
    }

    .icon {
      text-align: center;
      font-size: 36px;
    }
    .name {
      text-align: center;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 1530px) {
    & > li {
      height: 60px;
      width: 60px;
    }
  }
  @media screen and (max-width: 1290px) {
    & > li {
      height: 90px;
      width: 90px;
    }
  }
  @media screen and (max-width: 1250px) {
    & > li {
      height: 80px;
      width: 80px;
    }
  }
}
